@model IEnumerable<GigHub.Models.Following>

@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Followee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Follower.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Followee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Follower.Name)
        </td>
        
    </tr>
}

</table>
